* {
   -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

html, body {
   background-color: #333;
   height: 100%;
   text-align: center;
}

#container {
   margin: auto;
   width: 100%;
}

#gallery {
   margin: auto;
   width: 90%;
}

#images {
   margin: auto;
}

img {
   max-width: 100%;
}

#back, #images, #forward {
   display: inline-block;
}

#back {
   position: fixed;
   height: 100%;
   width: 50%;
   top: 0;
   left: 0;
}

#forward {
   position: fixed;
   height: 100%;
   width: 50%;
   top: 0;
   right: 0;
}

#photo1 {
   z-index: 1;
}

#photo2 {
   position: absolute;
   z-index: -1;
   transform: translate(-50%, -100%);
   -moz-transform: translateX(100%);
}